body {

	background-color: black;
	font-family: Verdana;
	color: 	#F0FFF0;	

}
.table{
	background-color: #2F4F4F;
}


.container{
	width: 100%;
	max-width: 100%
	margin: 20px auto;
	background: black;
	overflow: hidden;
	padding: 10px; 
}
.contain{
	width: 100%;
	max-width: 100%
	margin: 20px auto;
	background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  	background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  	background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
	overflow: hidden;
	padding: 10px;
}

/*.header{
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}*/

/* Main */
/*	.left{
		width: 250px;
		border: 1px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
	}*/

	.middle{
		width: 70%;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

	.mid{
		width: 100%;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.mid img{
			max-width: 100%;
			height: auto;
		}

	.right{
		width: 20%;
		padding: 10px;
		margin: 10px;
		float: left;
	}

.footer{
	clear: both;
	padding: 10px;
	margin: 10px;
}

#footer{
	background-color: white;
}

@media screen and (max-width: 1080px) {
	
	.container {
		width: 100%;
	}
	.left {
		width: 25%;
		background: #fff000;
	}
	.middle {
		width: 68%;
		float: right;
	}
	
	.right {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}


/*Flex Box*/

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #2F4F4F;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 150px;
  height: 220px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/*CardList*/
.card-list{

    display: flex;
    flex-flow: row wrap;

}

.card{
    margin: 10px;
    background-color: #2F4F4F;
    /* Mengatur width dengan persen dikurangi margin */
    width: calc( 33.333% - 20px);
}

/*AFTERLOGIN CSS*/
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 800px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: black;
      height: 100%;
    }
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    /*KURSI BIOSKOP*/
.bangku
	{
		width: 30px;
		height:30px;
		text-align:center;
		font-size:20px;
		background-color:#F00;
		color:#FFF;
		cursor:pointer;
		margin-top:4px;
		margin-right:4px;
	}
	
	
	.btn-hijau
	{
		background:#4fb821;
	}
	.btn-merah
	{
		background: #f4424e;
	}		
	
	.btn-biru
	{
		background:#2c35f1;
	}	